#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.footer-background {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
  border-top: 1px solid #ccc; /* Agrega un borde superior para separarlo del contenido */
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.footer-background ion-button {
  margin: 0; /* Elimina el margen entre los botones */
}

.footer-background span {
  color: #8c8c8c;
  padding: 5px; /* Espacio alrededor del texto */
}
